body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url('https://preview.redd.it/sandwich-sncf-1981-v0-aylwievvjysd1.jpeg?auto=webp&s=c2c1b38414657d4ea97813c1530abba014b063bc');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0073e6;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
}

select {
    font-size: 1.2rem;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

select:hover {
    background-color: #f9f9f9;
    border-color: #0073e6;
}

option {
    padding: 10px;
    background-color: white;
    color: #333;
}
